<nav class="navbar navbar-default">
 <ul class="nav navbar navbar-right">
	<%= link_to 'Create Product', new_product_path,class:"btn btn-default navbar-btn" %>
	
	<%= link_to 'Logout',logout_path,class:"navbar-text"%>     
 </ul>
</nav>


