<html ng-app="spicyApp2">
<head>
</head>
<body>
  
<nav class="navbar navbar-default">
  <!--for header -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Handbo</a>
  </div>  
  <!-- for Register -->
  <ul class="nav navbar-nav navbar-right">
    <a href="#">
      <span class="glyphicon glyphicon-user"></span>
    Register | <a href="#">Sign In</a></a>
  </ul>

</nav>
<form class="navbar-form navbar-left">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="What are you borrowing for ?">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

</body>
</html>