<html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta property="og:title" content="Penyewaan" />
 <meta property="twitter:title" content="Penyewaan " />
 <meta property="og:site_name" content="handbo.de" />
 <meta property="og:type" content="website" />
 <meta property="og:description" content="Penyewaaan menguntungkan dan murah" />
 <meta name="description" content="Penyewaan menguntungkan dan murah">
 <meta property="twitter:description" content="Penyewaan menguntungkan dan murah" />
 <meta name="author" content=""> 
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:title) %></title>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </button>
      
      
        
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav nav-pills pull-right">
        <li class="first" role="presentation">
          <%= link_to "Register",register_path,id:"register-tab" %>
        </li>
        <li class="active" role="presentation">
          <%= link_to "Sign In", login_path,id:"sign-in-tab" %>
          </li>
      </ul>
  </div>
  </div>
</nav>

<section id="hero1" class="hero">
  <div class="inner">
    <div class="copy">
    <h1 class="text-center">Semua bisa disewakan</h1>
      <%= link_to 'Lihat Barang',class:"btn btn-primary" %>
    </div>
  </div>
</section>

<h2 class="text-center">Apa yang dikatakan mereka</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"Sesuai dengan kebutuhan masyarakat"<br><span style="font-style:normal;">David Alexander, Head of Business Development, Amazon</span></h4>
      </div>
      <div class="item">
        <h4>"Satu Kata... WOW!!"<br><span style="font-style:normal;">Terence Teo, Investment Manager, EDBI</span></h4>
      </div>
      <div class="item">
        <h4>"Ini harus dieksekusi dengan baik akan menghasilkan produk yg digunakan masyarakat"<br><span style="font-style:normal;">Philipp Stangl, Managing Director , Venture Capital of Pioneer</span></h4>
      </div>
    </div>

    
  </div>
    
    <!-- Container (Services Section) -->
<div class="container-fluid text-center">
  <h2>LAYANAN</h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>AMAN</h4>
      <p>Transaksi di Handbo di jamin aman dan terpercaya</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>Ramah Lingkungan</h4>
      <p>Kita menggunakan produk yang sudah tersedia </p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-usd logo-small"></span>
      <h4>Menguntungkan</h4>
      <p>Murah</p>
    </div>
  </div>
  <br><br>
</div>

<!--footer -->
    <footer class="footer">
      <p class="footerfont">info@handbo.de</p>
    </footer>

</body>
</html>