<html ng-app="spicyApp2">
<head>
</head>
<body>
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav navbar-right">
   <li role="presentation" class="active"><a href="#">Home</a></li>
   <li role="presentation"><a href="#">Blog</a></li>
  </ul>
</nav>

</body>
</html>