<html>
<head>
  <title>Handbo</title>
</head>
<body>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </button>
      
      
        
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="first" role="presentation">
          <%= link_to "Register",register_path,id:"register-tab" %>
        </li>
        <li class="active" role="presentation">
          <%= link_to "Sign In", login_path,id:"sign-in-tab" %>
          </li>
          <% if current_user %>
            Logged in as <%= current_user.email %>.
            <%= link_to "Log out", logout_path %>
          <% end %>
      </ul>
    </div>
  </div>
</nav>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="#">Register</a></li>
        <li role="presentation" class="active"><a href="#">Sign In</a></li>
      </ul>
      <div class="modal-body">
        <button class="btn btn-facebook"><i class="fa fa-facebook"></i>  Sign In with Facebook</button>
        <br>
      </br>
        <button class="btn btn-google-plus"><i class="fa fa-google-plus"></i>  Sign In with Google</button>
        <br>
      </br>
      <hr>
  
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3"/>
        </div>
        <br>
        <div class="input-group input-group-sm">
         <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon3">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Sign In</button>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class=".col-xs-6 .col-md-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="what are you borrowing for ?">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">

    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">For Rent</div>
        <div class="panel-body"><img src="http://store.storeimages.cdn-apple.com/4662/as-images.apple.com/is/image/AppleInc/aos/published/images/M/AC/MACBOOKPRO/MACBOOKPRO?wid=1200&hei=630&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=6xyk93" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">From : 12 December 2016</div>
        <div class="panel-footer">Until : 12 December 2016</div>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">For Rent</div>
        <div class="panel-body"><img src="http://cdn2.carbuyer.co.uk/sites/carbuyer_d7/files/audi-rs7-cutout_0.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">From : 25 November 2016</div>
        <div class="panel-footer">Until : 30 November 2016</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">For Rent</div>
        <div class="panel-body"><img src="http://i.auto-bild.de/ir_img/1/2/7/8/2/4/4/Apple-Watch-und-BMW-Das-Auto-am-Handgelenk-1200x800-27b6f2b372a9150b.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">From : 1 Agustus 2016 </div>
        <div class="panel-footer">Until : 30 November 2016</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">For Rent</div>
        <div class="panel-body"><img src="http://www.notebookcheck.com/fileadmin/_migrated/pics/lenovo_thinkpad_x100e_gesamt02_01.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">From : 17 Agustus 2016</div>
        <div class="panel-footer">Until : 2 December 2016</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">For Rent</div>
        <div class="panel-body"><img src="http://stylespion.de/wp-content/uploads/2009/01/wohnung.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">From : 15 December 2016</div>
        <div class="panel-footer">Until : 17 December 2016</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">For Rent</div>
        <div class="panel-body"><img src="https://www.mydukkan.com/media/image/19256/Cordoba.CordobaC5CE.Naturel28408.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">From : 3 December 2016</div>
        <div class="panel-footer">Until : 15 December 2016</div>
      </div>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>

</body>
</html>