<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">



<section class="hero">
  <div class="row intro">
    <div class="small-centered medium-uncentered medium-6 large-7 columns">
    	
      <h1>Borrow ?</h1>
      <p>Don't you want to borrow something ? We will back to you</p>
    </div>
    <div class="small-centered medium-uncentered medium-6 large-5 columns">
    	<!--<div class="img-thumbnail"> -->
    	  <div class="tech-img thumbnail">
    	  </div>
    	<!--</div> -->
    </div>
  </div>
</section>
