<!--jumbotron dgn cara main didalam-->
<div class="jumbotron">
 <div class="container-fluid text-center">
   
   <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Cara Main</button>
   <p style="margin-top: 3px; margin-bottom: 3px">Open Your Mind. Mind Your Respect</p>
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Selamat Datang di Komparatif</h4>
            </div>
             <div class="modal-body">
              <p>Begini cara mainnya cuk</p>
             </div>
            <div class="modal-footer">
             <ul class="pager">
<!-- <li class="previous"><a href="#">Sebelumnya</a></li> -->
               <li class="next"><a href="#">Lanjut ></a></li>
            </ul>
<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
         </div>
       </div>
      </div>
    </div>
  </div>
 </div>