<% provide(:title, 'Blog') %>


<!--for image -->
<div class="container">
  <div class="fordown">
  <h3 class="forhead">What is different between borrow and lend ?</h2>
  <img src="https://cruisingthroughmylife.files.wordpress.com/2013/02/borrowing.jpg" class="img-thumbnail" alt="Cinque Terre" width="504" height="236">
  <br>
  <em>Written by Eben Sinaga  on November 16 2016</em>
  </div>
</div>

<p>When we saw new something and then we want to buy it. In other places, We don’t have need money to buy it.Don’t be panic when you don’t have money. We will inform you how to get new something. We will give your our solution.</p>
<ul>1. Borrow
	<br>
	That means to take something from someone with permission and with the intention of giving it back. The key of borrow is you borrow from somebody.</ul>
	
	<ul>For example
		<li>Can I borrow your dictionary ?</li>
		<li>went to the library to borrow some books</li>
	</ul>

<ul>2. Lend
	<br>
	Lend is which is give something to somebody for a limited a period of time.
	The key of lend is you lend something to somebody</ul>

	<ul>for example
		<li>I can lend you my dictionary</li>
		<li>if you need to make a call, I can lend you my phone</li>
	</ul>

<p>There is no answer “NO” to get new something. </p>

<%= link_to 'Back', blog_index_path %>
