<!--for image -->
<div class="container">
  <div class="fordown">
  <h3 class="forhead">How to rent apartment in Germany ?</h2>
  <img src="http://www.homeforrent.de/css/css_site/home_for_rent/grafiken_design/logo.png" width="204" height="156">
  <br>
  <em>Written by Eben Sinaga  on December 6 2016</em>
  </div>
</div>

<p>Finding apartments in Germany these days is normally done by searching the internet or through newspaper ads. Even if you speak good German, the terms used to describe house and apartment rentals may throw you for a loop. This is especially true with abbreviations used in newspaper ads. What if you saw an ad in a newspaper offering an "80QM 3Zi BJ 96 DG BAD WC" apartment? It might not be as unfathomable as you think.</p>
<p>Here are some key words, their abbreviations and what they mean</p>

<ul><li>Quadratmeter (QM or M2)</li> - 
	this is accompanied by a number and tells you how big the apartment is in square meters. Zimmer (Zi) accompanied by a number tells you how many rooms the place has.
	</ul>

<ul><li>The term Baujahr (BJ) </li>
	followed by a number means year built. The terms Water Closet (WC), Bath (Bad) and Dusche (Du) tell you about the sanitary facilities. Bath means only a tub, and a WC is a room with a toilet but no bathing facilities. The words Erdgeschoss (EG), Obergeschoss (OG) and Dachgeschoss (DG) tell you how high up in the building you'll be; respectively "ground floor", "upper floor" and "attic floor"
	</ul>
<ul><li>Kaution</li>
	is the "security deposit" that you must lay down over and above your rent. This is usually followed by a number, which tells you what the security deposit is in euros. Gepflegt (Gepfl) means "well cared for" and Ruhig (Ruh) means "quiet". Nebenkosten (NK) means "incidental expenditures" that may not be included in your rent; such as trash collection, stairwell cleaning and water. If you happen to be looking for a fully furnished apartment, keep an eye peeled for the term Möbliert (Möbl), and if you are looking for such comfortable amenities as central heating, a balcony, a garden or a garage look for Zentralheizung (ZH), Balkon (Balk), Garten (Gart) or Garage (Gge).
</ul>

<p>There are specialists in moving and relocation nowadays; people set up to relieve employees of the problems of acclimation and acculturation. They offer a wide range of services and are continually increasing the breadth and depth of their services.

Large and small companies, as well as individuals moving to foreign countries, seek out the services of these specialists. Without specialized help the task of moving and adjusting can be daunting. The most common responsibilities taken on by relocation specialists include finding housing and schools; address registration; residence permit assistance; help with work permits and banking connections, and arranging for utilities and phone service. In addition to these basics, other services offered can involve help in getting driver's licenses, insurance, career counselling for spouses, vocational training, language and cultural training and finding doctors and dentists. There is also an increased focus on "lifestyle enhancement" services.

The moving and relocation industry has evolved and many companies have formed cooperative relationships and partnerships with other firms within Germany, Europe and worldwide. Many of the international relocation companies have increased the number of offices around the world to meet the new demands of an increasing number of expatriate employees.

Relocating without help is an invitation to frustration and lost productivity. Check out the various companies and sign on with one that will fit your needs. It will be well worth the effort.

 </p>

<%= link_to 'Back', blog_index_path %>
