<% provide(:title, 'Blog') %>


  	<em>Written by Eben Sinaga  on November 10 2016</em>
    <p>We are rental marketplaces of everything.We are couple into building handbo and are still continuing to develop and grow.</p>
    <p>We will use this blog to keep you updated on new features and changes to handbo </p>
    <p>Thanks for being part of Handbo ! without your transasctions,it would be very lonely for us here </p>
    
<%= link_to 'Back', blog_index_path %>

    