<html>
<head>

	<title>Blog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header>
  <a href="#" id="logo">Blog</a>
</header>

<section id="hero1" class="hero">
  <div class="inner">
    <div class="copy">
    <h1 class="text-center">The Handbo blog</h1>
    </div>
  </div>
</section>

<section class="content">
  <div class="inner">
    <div class="copy">
    <h1>Hello,and welcome to the Handbo Blog !</h1>
    <p>We are rental marketplaces of everything.We are couple into building handbo and are still continuing to develop and grow.</p>
    <p class="text-center">We will use this blog to keep you updated on new features and changes to handbo </p>
    <p>Thanks for being part of Handbo ! without your transasctions,it would be very lonely for us here </p>

    </div>
  </div>
</section>




<<<<<<< HEAD
=======
</head>
<body>    
    <div class="col-sm-9">
      <div id="testID">
      <h4><small>RECENT POSTS</small></h4>
      <hr>
      <h2>Tes</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
      <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
      <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br>
      </div>
    </div>
      
      <h4><small>RECENT POSTS</small></h4>
      <hr>
      <div id ="testID">
      <h2>Officially Blogging</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 24, 2015.</h5>
      <h5><span class="label label-success">Lorem</span></h5><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
    </div>
  </div>
  
      
>>>>>>> ba975004136ec626c19b616450253efe665f451c
=======
>>>>>>> 9e9690cc102c177e042725a1a90087345a7790c4
</body>
</html>