#home-intro h1 {
	font-weight: 300;
	margin-bottom: 15px;
	font-size: 45px;
	
}

div.home-intro-overlay {
	background-image: url(/img/hero-dozers-xl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
    padding-top: 60px;
}
#home-intro .btn-4 {
    font-size: 28px;
    padding: 10px 20px 13px;
    text-transform: uppercase;
}

.btn-4:hover {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
    color: #fff;
}