
<h2 class="text-center"> Menu Edit </h2>

<%= render 'form' %>

<p class="text-center"><%= link_to 'Kembali', products_path %> </p> |

<p class="text-center"><%= link_to 'Pratinjau Barang ', @product %> </p>
